
.div1 {
  width: 100%;
  text-align: center;
  padding: 50px;
 }

.div2 {
  width: 400px;
}

input {
  width: 150px;
}

table {
  width: 40%;
  text-align: center;
  border: 1px solid gray;
  background-color: yellow;
  box-shadow: 1px 1px 2px black;
}


.tr1 {
  font-weight: bold;
  background-color: yellow;
}

.tr2 {
  background-color: lightpink;
}

td {
  border: .2px solid;
  border-left: 1.2px solid;
  width:25%;
}

#p1 {
  font-family: arial;
  font-size: small;
  background-color: hotpink;
   padding-top: 20px;
}

#p2 {
  font-family: courier;
  background-color: pink;
  padding-top: 20px;
}

#p3 {
  font-family: corsiva;
  background-color: lightpink;
  padding-top: 20px;
}

figure {
  width: 32.5%;
  height: 300px;
  margin: auto;
  border: 2px solid orange;
  display: inline-block;
  text-align: center;
}

#figDiv {
  /* width: 100%; */
}
