
table {
  background-color:yellow;
  box-shadow: 10px 10px 1000px black;
}

.tr1 {
  padding-top: 10px;
  font-weight: bold;
}

.tr2 {
  background-color:pink;
}

td {
  width:150px;
  background-color:yellow;
  border-left: 1px solid black;
}
